* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f6fb;
  color: #333;
}

section {
  padding: 70px 10%;
}

h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

button {
  cursor: pointer;
}
